   {% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>Django Registration Test App</title>

</head>

<body>
    <div id="header">
    {% block header %}
    <a href="{% url 'index' %}">{% trans "Home" %}</a> |

    {% if user.is_authenticated %}
        {% trans "Logged in" %}: {{ user.username }}
        (<a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> |
        <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
    {% else %}
       <a href="{% url 'auth_login' %}">{% trans "Log In" %}</a>
    {% endif %}
    {% endblock %}
    </div>

    <div id="content">
    <h1>{% block title %}{% endblock %}</h1>
    {% block content %}

    {% endblock content %}
    </div>

    <div id="footer">
    {% block footer %}

    {% endblock %}
    </div>
</body>

</html>





 