{% extends "base.html" %}
{% load i18n %}

{% block title %}Welcome  {{ user.username }}{% endblock %}

{% block content %}

 <body>
<a href="http://127.0.0.1:8000/EmbededApi/" class="button">Go to Analytics Page</a>
</body>
{% endblock %}

